// NOTE: This variable is used manually inlined in @/layouts/default.vue to dynamically offset content.
//       If you're changing it, change it there too.
$systembar-height: 24px;

$badge-dot-width: 11px;
$badge-dot-height: $badge-dot-width;
$badge-dot-border-radius: $badge-dot-width;
