// NOTE: This variable is used manually inlined in @/layouts/default.vue to dynamically offset content.
//       If you're changing it, change it there too.
$systembar-height: 24px;

$badge-dot-border-width: 2.5px;
$badge-dot-width: 12px;
$badge-dot-height: $badge-dot-width;
$badge-dot-border-radius: 100% !important;

$chat-search-results-width: 400px;

$exit-button-size: 2.5rem;
$exit-button-left-margin: 28px;

$menu-content-elevation: 0;
