html {
  overflow: hidden !important;
}

@function splitIntoSteps($width, $steps) {
  $result: ();
  @for $i from 0 through $steps {
    $result: append($result, ($i * $width / $steps));
  }
  @return $result
}

// Split 100% into 20 steps, for w-number and h-number classes
$height-width-helper-sizes: splitIntoSteps(100, 20);

@each $size in $height-width-helper-sizes {
  .h-#{$size} {
    height: percentage($size/100) !important;
  }

  .w-#{$size} {
    width: percentage($size/100) !important;
  }
}

.move-window {
  -webkit-app-region: drag;
  -webkit-user-select: none;
  & button {
    -webkit-app-region: no-drag;
  }
}

.hide-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.border-circle-right {
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
}

.justify-content-between {
  justify-content: space-between !important;
  -ms-flex-pack: justify !important;
}

.reset-link {
  text-decoration: none !important;
  cursor: pointer !important;
  color: map-get($white, "lighten") !important;
}

.material-shadow {
  box-shadow: 0px 0px 10px transparentize(black, 0.75);
}

// Unselectable text
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.clickable > * {
  cursor: pointer;
}

// Vertically aligns by inserting an empty pseudo class with 100% height,
// so that the entire height becomes line height
.align-content-center-inline {
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  & > * {
    display: inline-block !important;
    vertical-align: middle;
  }
}

/** Scrollbar **/

// Firefox has only this for scrollbar customization
* {
  scrollbar-width: thin !important;
  scrollbar-color: map-get($scrollbar-color, "foreground") map-get($scrollbar-color, "background");
}

::-webkit-scrollbar {
  width: 5px;
  background: none;
}
::-webkit-scrollbar-thumb {
  background: map-get($scrollbar-color, "foreground");
  border-radius: 10px;
}
