.header-message {
  min-height: 3rem;
}

.content {
  font-weight: 300;
  white-space: pre-line;
  overflow-wrap: anywhere;
}

.timestamp {
  font-size: .75em;
}

.body-message {
  min-height: 1.5rem;

  &:not(:hover) .timestamp { display: none; }
}

.darken-on-hover {
  @include darken-on-hover(map-get($greys, "200"));
}

.gutter {
  width: 40px;
}

